* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa';
}

h1 {
  text-align: center;
  font-size: 2rem;
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1312px) {
  h1 {
    font-size: 4.1rem;
  }
}

h3 {
  font-size: 1.5rem;
}

@media screen and (min-width: 992px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1312px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 992px) {
  h4 {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 992px) {
  h4 {
    font-size: 1.3rem;
  }
}

p {
  word-spacing: 0.2rem;
}

.header {
  margin-bottom: -50px;
}

.header__img {
  width: 100%;
  height: auto;
  border-bottom: 10px solid black;
  border-width: 3px;
  display: none;
}

@media screen and (min-width: 992px) {
  .header__img {
    border-width: 5px;
    display: block;
  }
}

@media screen and (min-width: 1312px) {
  .header__img {
    border-width: 5px;
    display: block;
  }
}

.header__small {
  display: block;
}

@media screen and (min-width: 992px) {
  .header__small {
    display: none;
  }
}

@media screen and (min-width: 1312px) {
  .header__small {
    display: none;
  }
}

.header__logo {
  display: block;
  position: relative;
  padding: 15px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  width: 35%;
  left: 28.5%;
  bottom: 110px;
  border-width: 2px;
}

@media screen and (min-width: 992px) {
  .header__logo {
    width: 13%;
    border-width: 4px;
    bottom: 90px;
    left: 42%;
  }
}

@media screen and (min-width: 1312px) {
  .header__logo {
    width: 13%;
    border-width: 5px;
    bottom: 120px;
    left: 42.4%;
  }
}

.nav {
  position: fixed;
  width: 0;
  height: 100%;
  background-color: #888888;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.nav__btn {
  position: absolute;
  top: 15px;
  left: 25px;
  font-size: 2rem;
  color: white;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.nav__btn:hover {
  color: black;
}

@media screen and (min-width: 992px) {
  .nav__btn {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1312px) {
  .nav__btn {
    font-size: 3rem;
  }
}

.nav__a {
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-size: 1rem;
  padding: 15px;
  color: white;
  text-align: center;
  -webkit-transition: color 500ms;
  transition: color 500ms;
  font-weight: 800;
}

.nav__a:hover {
  color: black;
}

@media screen and (min-width: 992px) {
  .nav__a {
    font-size: 1.2rem;
    padding: 25px;
  }
}

@media screen and (min-width: 1312px) {
  .nav__a {
    font-size: 1.2rem;
    padding: 25px;
  }
}

.nav__i {
  font-size: 2.5rem;
  text-align: center;
  display: block;
  color: white;
  -webkit-transition: color 500ms;
  transition: color 500ms;
  padding: 15px;
}

.nav__i:hover {
  color: black;
}

@media screen and (min-width: 992px) {
  .nav__i {
    font-size: 3rem;
    padding: 25px;
  }
}

@media screen and (min-width: 1312px) {
  .nav__i {
    font-size: 3rem;
    padding: 25px;
  }
}

.nav-a {
  margin-top: 25px;
}

@media screen and (min-width: 992px) {
  .nav-a {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1312px) {
  .nav-a {
    margin-top: 50px;
  }
}

.icon {
  position: absolute;
  margin: 15px 0 0 20px;
  cursor: pointer;
  -webkit-transition: background-color 350ms;
  transition: background-color 350ms;
  font-size: 2.5rem;
  color: white;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.icon:hover {
  color: black;
}

@media screen and (min-width: 992px) {
  .icon {
    font-size: 3rem;
    color: #888888;
  }
}

@media screen and (min-width: 1312px) {
  .icon {
    font-size: 3rem;
    color: #888888;
  }
}

.footer {
  background-color: #888888;
  width: 100%;
  bottom: 0;
}

.footer p {
  color: white;
  text-align: center;
  font-size: 1rem;
  padding: 40px 0;
}

.i-section {
  margin: 0 50px;
}

@media screen and (min-width: 992px) {
  .i-section {
    margin: 0 200px;
  }
}

@media screen and (min-width: 1312px) {
  .i-section {
    margin: 0 200px;
  }
}

.i-section h1 {
  margin: 25px 0 60px 0;
}

@media screen and (min-width: 992px) {
  .i-section h1 {
    margin: 0 0 100px 0;
  }
}

@media screen and (min-width: 1312px) {
  .i-section h1 {
    margin: 0 0 100px 0;
  }
}

.i-section h3 {
  margin-bottom: 25px;
}

.i-section__txt {
  margin-bottom: 50px;
  word-spacing: 0.2rem;
  text-align: justify;
  font-size: 0.9rem;
}

.i-section__txt p {
  margin-bottom: 15px;
  text-align: justify;
}

@media screen and (min-width: 992px) {
  .i-section__txt {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1312px) {
  .i-section__txt {
    font-size: 1rem;
  }
}

.i-section__span {
  margin-bottom: 15px;
  font-weight: 800;
}

.i-section__list {
  word-spacing: 0.2rem;
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: justify;
}

.i-section__list i {
  font-size: 0.2rem;
  vertical-align: middle;
  margin-right: 10px;
}

.i-section__img {
  text-align: center;
  margin: 80px 0;
}

@media screen and (min-width: 992px) {
  .i-section__img {
    margin: 100px 0;
  }
}

.i-section__img img {
  width: 45%;
}

@media screen and (min-width: 992px) {
  .i-section__img img {
    width: 45%;
  }
}

@media screen and (min-width: 1312px) {
  .i-section__img img {
    width: 20%;
  }
}

.m-section {
  margin: 25px 0;
}

@media screen and (min-width: 992px) {
  .m-section {
    margin: auto;
  }
}

@media screen and (min-width: 1312px) {
  .m-section {
    margin: auto;
  }
}

.m-section__gallery {
  margin: 50px 0;
}

@media screen and (min-width: 992px) {
  .m-section__gallery {
    margin: 100px 0;
  }
}

@media screen and (min-width: 1312px) {
  .m-section__gallery {
    margin: 100px 0;
  }
}

.m-section__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.m-section__line:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  .m-section__line {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1312px) {
  .m-section__line {
    margin-bottom: 20px;
  }
}

.m-section__img {
  width: 85%;
  margin: 10px 0;
  -webkit-transition: -webkit-box-shadow 350ms;
  transition: -webkit-box-shadow 350ms;
  transition: box-shadow 350ms;
  transition: box-shadow 350ms, -webkit-box-shadow 350ms;
  border-radius: 1rem;
  pointer-events: none;
}

.m-section__img:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0px 1.6px rgba(0, 0, 0, 0.056), 0 0px 3.6px rgba(0, 0, 0, 0.078), 0 0px 6.3px rgba(0, 0, 0, 0.093), 0 0px 10px rgba(0, 0, 0, 0.105), 0 0px 15.5px rgba(0, 0, 0, 0.114), 0 0px 24.1px rgba(0, 0, 0, 0.122), 0 0px 40px rgba(0, 0, 0, 0.128), 0 0px 80px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0px 1.6px rgba(0, 0, 0, 0.056), 0 0px 3.6px rgba(0, 0, 0, 0.078), 0 0px 6.3px rgba(0, 0, 0, 0.093), 0 0px 10px rgba(0, 0, 0, 0.105), 0 0px 15.5px rgba(0, 0, 0, 0.114), 0 0px 24.1px rgba(0, 0, 0, 0.122), 0 0px 40px rgba(0, 0, 0, 0.128), 0 0px 80px rgba(0, 0, 0, 0.13);
}

@media screen and (min-width: 992px) {
  .m-section__img {
    width: 30%;
    margin: 0 10px;
    pointer-events: all;
  }
}

@media screen and (min-width: 1312px) {
  .m-section__img {
    width: 30%;
    margin: 0 10px;
    pointer-events: all;
  }
}

.modal-gallery {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #888888;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .modal-gallery {
    padding-top: 150px;
  }
}

@media screen and (min-width: 1312px) {
  .modal-gallery {
    padding-top: 125px;
  }
}

.modal-gallery__close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.modal-gallery__close:hover {
  color: black;
  cursor: pointer;
}

.modal-gallery__content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

.modal-gallery__slides {
  display: none;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .modal-gallery__slides {
    width: 60%;
  }
}

@media screen and (min-width: 1312px) {
  .modal-gallery__slides {
    width: 60%;
  }
}

.modal-gallery__nbr {
  color: white;
  font-size: 1rem;
  padding: 15px 20px;
  position: absolute;
  top: 0;
}

.modal-gallery__img {
  width: 100%;
  border-radius: 1rem;
}

.modal-gallery__prev, .modal-gallery__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
  border-radius: 5%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal-gallery__prev:hover, .modal-gallery__next:hover {
  background-color: black;
}

.modal-gallery__next {
  right: 0px;
  border-radius: 5%;
}

.c-section {
  margin-top: 50px;
}

@media screen and (min-width: 992px) {
  .c-section {
    margin-top: auto;
  }
}

@media screen and (min-width: 1312px) {
  .c-section {
    margin-top: auto;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.form__group {
  width: 70%;
  margin-right: 20px;
}

@media screen and (min-width: 992px) {
  .form__group {
    width: 50%;
  }
}

@media screen and (min-width: 1312px) {
  .form__group {
    width: 30%;
  }
}

.form__label {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 20px;
}

@media screen and (min-width: 992px) {
  .form__label {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1312px) {
  .form__label {
    font-size: 1.1rem;
  }
}

.form__input {
  margin-top: 5px;
  width: 100%;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  margin-bottom: 1rem;
  outline: none;
  border: 2px solid #f4f4f4;
  resize: none;
  overflow: auto;
  -webkit-transition: border-color 400ms, background-color 500ms;
  transition: border-color 400ms, background-color 500ms;
}

.form__input:focus {
  border-color: #888888;
}

.form__input:not(:focus):invalid {
  background-color: #c70039;
  border-color: #c70039;
  color: white;
}

.form__btn {
  width: 105%;
  padding: 15px 10px;
  border-radius: 1rem;
  outline: none;
  border: 2px solid transparent;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-transition: background-color 350ms, color 250ms;
  transition: background-color 350ms, color 250ms;
}

.form__btn:hover {
  background-color: #888888;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .form__btn {
    padding: 10px 7px;
  }
}

@media screen and (min-width: 1312px) {
  .form__btn {
    padding: 10px 7px;
  }
}
