* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa';
}

h1 {
  text-align: center;
  font-size: 4.1rem;
}

@media screen and (max-width: 688px) {
  h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 2rem;
}

@media screen and (max-width: 688px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 688px) {
  h4 {
    font-size: 1rem;
  }
}

p {
  letter-spacing: 0.1rem;
}

.header {
  margin-bottom: -50px;
}

.header__img {
  width: 100%;
  height: auto;
  border-bottom: 10px solid black;
}

@media screen and (max-width: 688px) {
  .header__img {
    width: 100%;
    border-width: 3px;
  }
}

@media screen and (min-width: 992px) {
  .header__img {
    border-width: 5px;
  }
}

.header__logo {
  display: block;
  position: relative;
  width: 10%;
  padding: 15px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid black;
  bottom: 200px;
  left: 43.9%;
}

@media screen and (max-width: 688px) {
  .header__logo {
    width: 10%;
    left: 42.15%;
    bottom: 55px;
    border-width: 2px;
  }
}

@media screen and (min-width: 992px) {
  .header__logo {
    width: 10%;
    border-width: 5px;
    bottom: 80px;
    left: 43.2%;
  }
}

@media screen and (min-width: 1312px) {
  .header__logo {
    width: 10%;
    border-width: 5px;
    bottom: 110px;
    left: 43.8%;
  }
}

.nav {
  position: fixed;
  width: 0;
  height: 100%;
  background-color: #888888;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.nav__btn {
  position: absolute;
  top: 15px;
  left: 25px;
  font-size: 3rem;
  color: white;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.nav__btn:hover {
  color: black;
}

@media screen and (max-width: 688px) {
  .nav__btn {
    font-size: 2rem;
  }
}

.nav__a {
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  -webkit-transition: 300ms;
  transition: 300ms;
  padding: 25px;
  color: white;
  text-align: center;
  -webkit-transition: color 500ms;
  transition: color 500ms;
  font-weight: 800;
  font-size: 1.2rem;
}

.nav__a:hover {
  color: black;
}

@media screen and (max-width: 688px) {
  .nav__a {
    font-size: 1rem;
    padding: 15px;
  }
}

.nav__i {
  font-size: 3rem;
  text-align: center;
  display: block;
  color: white;
  -webkit-transition: color 500ms;
  transition: color 500ms;
  padding: 25px;
}

.nav__i:hover {
  color: black;
}

@media screen and (max-width: 688px) {
  .nav__i {
    font-size: 2.5rem;
    padding: 15px;
  }
}

.nav-a {
  margin-top: 50px;
}

@media screen and (max-width: 688px) {
  .nav-a {
    margin-top: 25px;
  }
}

.icon {
  position: absolute;
  margin: 15px 0 0 20px;
  cursor: pointer;
  -webkit-transition: background-color 350ms;
  transition: background-color 350ms;
  font-size: 3rem;
  color: #888888;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.icon:hover {
  color: black;
}

@media screen and (max-width: 688px) {
  .icon {
    font-size: 2rem;
  }
}

.footer {
  background-color: #888888;
  width: 100%;
  height: 100px;
  bottom: 0;
}

@media screen and (max-width: 688px) {
  .footer {
    height: 100px;
  }
}

.footer p {
  color: white;
  text-align: center;
  line-height: 100px;
}

@media screen and (max-width: 688px) {
  .footer p {
    font-size: 0.7rem;
    line-height: 100px;
  }
}

@media screen and (min-width: 992px) {
  .footer p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1312px) {
  .footer p {
    font-size: 1rem;
  }
}

.i-section {
  margin: 0 200px;
}

@media screen and (max-width: 688px) {
  .i-section {
    margin: 0 50px;
  }
}

.i-section h1 {
  margin-bottom: 100px;
}

@media screen and (max-width: 688px) {
  .i-section h1 {
    margin-top: 25px;
    margin-bottom: 60px;
  }
}

.i-section h3 {
  margin-bottom: 25px;
}

.i-section__txt {
  margin-bottom: 50px;
  letter-spacing: 0.1rem;
  text-align: justify;
}

@media screen and (max-width: 688px) {
  .i-section__txt {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 992px) {
  .i-section__txt {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1312px) {
  .i-section__txt {
    font-size: 1rem;
  }
}

.i-section__txt p {
  margin-bottom: 15px;
  text-align: justify;
}

.i-section__span {
  margin-bottom: 15px;
  font-weight: 800;
}

.i-section__list {
  letter-spacing: 0.1rem;
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: justify;
}

.i-section__list i {
  font-size: 0.2rem;
  vertical-align: middle;
  margin-right: 10px;
}

.i-section__img {
  text-align: center;
  margin: 100px 0;
}

@media screen and (max-width: 688px) {
  .i-section__img {
    margin: 80px 0;
  }
}

.i-section__img img {
  width: 20%;
}

@media screen and (max-width: 688px) {
  .i-section__img img {
    width: 45%;
  }
}

@media screen and (min-width: 992px) {
  .i-section__img img {
    width: 45%;
  }
}

@media screen and (min-width: 1312px) {
  .i-section__img img {
    width: 20%;
  }
}

@media screen and (max-width: 688px) {
  .m-section {
    margin: 25px 0;
  }
}

.m-section__gallery {
  margin: 100px 0;
}

@media screen and (max-width: 688px) {
  .m-section__gallery {
    margin: 50px 0;
  }
}

.m-section__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 688px) {
  .m-section__line {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }
}

.m-section__line:last-child {
  margin-bottom: 0;
}

.m-section__img {
  width: 30%;
  margin: 0 10px;
}

@media screen and (max-width: 688px) {
  .m-section__img {
    width: 60%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 688px) {
  .c-section {
    margin-top: 50px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.form__group {
  width: 30%;
}

@media screen and (max-width: 688px) {
  .form__group {
    width: 70%;
    margin-right: 20px;
  }
}

@media screen and (min-width: 992px) {
  .form__group {
    width: 50%;
  }
}

@media screen and (min-width: 1312px) {
  .form__group {
    width: 30%;
  }
}

.form__label {
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 20px;
}

@media screen and (max-width: 688px) {
  .form__label {
    font-size: 1rem;
  }
}

.form__input {
  margin-top: 5px;
  width: 100%;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  margin-bottom: 1rem;
  outline: none;
  border: 2px solid #f4f4f4;
  resize: none;
  overflow: auto;
  -webkit-transition: border-color 400ms, background-color 500ms;
  transition: border-color 400ms, background-color 500ms;
}

.form__input:focus {
  border-color: #8ec6c5;
}

.form__input:not(:focus):invalid {
  background-color: #c70039;
  border-color: #c70039;
  color: white;
}

.form__btn {
  width: 105%;
  padding: 10px 7px;
  border-radius: 1rem;
  outline: none;
  border: 2px solid transparent;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-transition: background-color 350ms, color 250ms;
  transition: background-color 350ms, color 250ms;
}

.form__btn:hover {
  background-color: #8ec6c5;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 688px) {
  .form__btn {
    padding: 15px 10px;
  }
}
