* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa';
}

h1 {
  text-align: center;
  font-size: 4.1rem;
}

@media screen and (max-width: 688px) {
  h1 {
    font-size: 3.5rem;
  }
}

h3 {
  font-size: 2rem;
}

@media screen and (max-width: 688px) {
  h3 {
    font-size: 1.5rem;
  }
}

p {
  letter-spacing: 0.1rem;
}

.header {
  width: 100%;
  margin-bottom: -50px;
}

.header__img {
  width: 100%;
  height: 100vh;
  border-bottom: 10px solid black;
}

@media screen and (max-width: 688px) {
  .header__img {
    width: 100%;
    border-bottom: 5px solid black;
  }
}

.header__logo {
  display: block;
  position: relative;
  width: 15%;
  padding: 15px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid black;
  bottom: 150px;
  left: 41.5%;
}

@media screen and (max-width: 688px) {
  .header__logo {
    width: 30%;
    left: 32.5%;
    bottom: 100px;
  }
}

.footer {
  background-color: #606060;
  width: 100%;
  height: 70px;
  bottom: 0;
}

.footer p {
  color: white;
  text-align: center;
  line-height: 70px;
}

.i-section {
  margin: 0 200px;
}

@media screen and (max-width: 688px) {
  .i-section {
    margin: 0 50px;
  }
}

.i-section h1 {
  margin-bottom: 100px;
}

@media screen and (max-width: 688px) {
  .i-section h1 {
    margin-top: 25px;
    margin-bottom: 60px;
  }
}

.i-section h3 {
  margin-bottom: 25px;
}

.i-section__txt {
  margin-bottom: 50px;
  letter-spacing: 0.1rem;
  text-align: justify;
}

@media screen and (max-width: 688px) {
  .i-section__txt {
    font-size: 0.9rem;
  }
}

.i-section__txt p {
  margin-bottom: 15px;
  text-align: justify;
}

.i-section__span {
  margin-bottom: 15px;
  font-weight: 800;
}

.i-section__list {
  letter-spacing: 0.1rem;
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: justify;
}

.i-section__list i {
  font-size: 0.2rem;
  vertical-align: middle;
  margin-right: 10px;
}

.i-section__img {
  text-align: center;
  margin: 100px 0;
}

@media screen and (max-width: 688px) {
  .i-section__img {
    margin: 80px 0;
  }
}

.i-section__img img {
  width: 20%;
}

@media screen and (max-width: 688px) {
  .i-section__img img {
    width: 45%;
  }
}
