// main.scss

@import './utils/variable';
@import './base/base';
@import './base/typography';
@import './components/buttons';
@import './layouts/header';
@import './layouts/nav';
@import './layouts/footer';
@import './pages/index';
@import './pages/media';
@import './pages/contact';