// _mixins.scss

@mixin mobile-only {
    @media screen and (min-width: map-get($breakpoints, $small)) {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, $medium)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, $large)) {
        @content;
    }
}
