// _mixins.scss

@mixin small-screen {
    @media screen and (min-width: map-get($breakpoints, small)) {
        @content;
    }
}

@mixin medium-screen {
    @media screen and (min-width: map-get($breakpoints, medium)) {
        @content;
    }
}

@mixin large-screen {
    @media screen and (min-width: map-get($breakpoints, large)) {
        @content;
    }
}
