// _variables.scss

$breakpoints: (
    small: 688px,
    medium: 992px,
    large: 1312px
);

$margin: calc(50% - 50vw);

$txt-dark: black;
$txt-light: white;

$bg-color: #888888;
$btn-color: #f4f4f4;
$wrong-color: #c70039;