// _index.scss

.i-section {
    margin: 0 200px;
    @include small-screen {
        margin: 0 50px;
    }

    & h1 {
        margin-bottom: 100px;
        @include small-screen {
            margin-top: 25px;
            margin-bottom: 60px;
        }
    }

    & h3 {
        margin-bottom: 25px;
    }

    &__txt {
        margin-bottom: 50px;
        letter-spacing: 0.1rem;
        text-align: justify;

        @include small-screen {
            font-size: 0.9rem;
        }
        @include medium-screen {
            font-size: 1rem;
        }
        @include large-screen {
            font-size: 1rem;
        }

        & p {
            margin-bottom: 15px;
            text-align: justify;
        }
    }

    &__span {
        margin-bottom: 15px;
        font-weight: 800;
    }

    &__list {
        letter-spacing: 0.1rem;
        margin-left: 20px;
        margin-bottom: 10px;
        text-align: justify;

        & i {
            font-size: 0.2rem;
            vertical-align: middle;
            margin-right: 10px;
        }
    }

    &__img {
        text-align: center;
        margin: 100px 0;
        @include small-screen {
            margin: 80px 0;
        }

        img {
            width: 20%;
            @include small-screen {
                width: 45%;
            }
            @include medium-screen {
                width: 45%;
            }
            @include large-screen {
                width: 20%;
            }
        }
    }
}