// _index.scss

.i-section {
    margin: 0 50px;
    
    @include medium-screen {
        margin: 0 200px;
    }

    @include large-screen {
        margin: 0 200px;
    }

    & h1 {
        margin: 25px 0 60px 0;
        
        @include medium-screen {
            margin: 0 0 100px 0;
        }

        @include large-screen {
            margin: 0 0 100px 0;
        }
    }

    & h3 {
        margin-bottom: 25px;
    }

    &__txt {
        margin-bottom: 50px;
        word-spacing: $word-space;
        text-align: justify;
        font-size: 0.9rem;
        & p {
            margin-bottom: 15px;
            text-align: justify;
        }

        @include medium-screen {
            font-size: 1rem;
        }

        @include large-screen {
            font-size: 1rem;
        }
    }

    &__span {
        margin-bottom: 15px;
        font-weight: 800;
    }

    &__list {
        word-spacing: $word-space;
        margin-left: 20px;
        margin-bottom: 10px;
        text-align: justify;
        & i {
            font-size: 0.2rem;
            vertical-align: middle;
            margin-right: 10px;
        }
    }

    &__img {
        text-align: center;
        margin: 80px 0;

        @include medium-screen {
            margin: 100px 0;
        }

        img {
            width: 45%;

            @include medium-screen {
                width: 45%;
            }

            @include large-screen {
                width: 20%;
            }
        }
    }
}