// _media.scss

.m-section {
    margin: 25px 0;

    @include medium-screen {
       margin: auto;
    }

    @include large-screen {
        margin: auto;
    }

    &__gallery {
        margin: 50px 0;

        @include medium-screen {
            margin: 100px 0;
        }

        @include large-screen {
            margin: 100px 0;
        }
    }

    &__line {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        flex-wrap: wrap;
        &:last-child {
            margin-bottom: 0;
        }

        @include medium-screen {
            margin-bottom: 20px;
        }

        @include large-screen {
            margin-bottom: 20px;
        }
    }

    &__img {
        width: 85%;
        margin: 10px 0;
        transition: box-shadow 350ms;
        border-radius: 1rem;
        pointer-events: none;
        &:hover {
            cursor: pointer;
            box-shadow:
            0 0px 1.6px rgba(0, 0, 0, 0.056),
            0 0px 3.6px rgba(0, 0, 0, 0.078),
            0 0px 6.3px rgba(0, 0, 0, 0.093),
            0 0px 10px rgba(0, 0, 0, 0.105),
            0 0px 15.5px rgba(0, 0, 0, 0.114),
            0 0px 24.1px rgba(0, 0, 0, 0.122),
            0 0px 40px rgba(0, 0, 0, 0.128),
            0 0px 80px rgba(0, 0, 0, 0.13);
        }

        @include medium-screen {
            width: 30%;
            margin: 0 10px;
            pointer-events: all;
        }

        @include large-screen {
            width: 30%;
            margin: 0 10px;
            pointer-events: all;
        }
    }
}

.modal-gallery {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $bg-color;
    overflow: hidden;

    @include medium-screen {
        padding-top: 150px;
    }

    @include large-screen {
        padding-top: 125px;
    }

    &__close {
        color: $txt-light;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
        transition: color 500ms;
        &:hover {
            color: $txt-dark;
            cursor: pointer;
        }
    }

    &__content{
        position: relative;
        margin: auto;
        padding: 0;
        width: 100%;
        max-width: 1200px;
    }

    &__slides {
        display: none;
        margin: auto;
        
        @include medium-screen {
            width: 60%;
        }

        @include large-screen {
            width: 60%;
        }
    }

    &__nbr {
        color: $txt-light;
        font-size: 1rem;
        padding: 15px 20px;
        position: absolute;
        top: 0;
    }

    &__img {
        width: 100%;
        border-radius: 1rem;
    }

    &__prev, &__next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 20px;
        margin-top: -50px;
        color: $txt-light;
        font-weight: bold;
        font-size: 20px;
        transition: 600ms ease;
        border-radius: 5%;
        user-select: none;
        &:hover {
            background-color: $txt-dark;
        }
    }

    &__next {
        right: 0px;
        border-radius: 5%;
    }
}