// _typography.scss

h1 {
    text-align: center;
    font-size: 2rem;
    
    @include medium-screen {
        font-size: 3rem;
    }

    @include large-screen {
        font-size: 4.1rem;
    }
}

h3 {
    font-size: 1.5rem;
    
    @include medium-screen {
        font-size: 1.5rem;
    }

    @include large-screen {
        font-size: 2rem;
    }
}

h4 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 50px;

    @include medium-screen {
        font-size: 1.3rem;
    }

    @include medium-screen {
        font-size: 1.3rem;
    }
}

p {
    word-spacing: $word-space;
}