// _typography.scss

h1 {
    text-align: center;
    font-size: 4.1rem;
    @include small-screen {
        font-size: 2rem;
    }
    @include medium-screen {
        font-size: 3rem;
    }
}

h3 {
    font-size: 2rem;
    @include small-screen {
        font-size: 1.5rem;
    }
    @include medium-screen {
        font-size: 1.5rem;
    }
}

h4 {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 50px;
    @include small-screen {
        font-size: 1rem;
    }
}

p {
    letter-spacing: 0.1rem;
}