// _footer.scss

.footer {
    background-color: $bg-color;
    width: 100%;
    height: 70px;
    bottom: 0;

    & p {
        color: $txt-light;
        text-align: center;
        line-height: 70px;
    }
}