// _footer.scss

.footer {
    background-color: $bg-color;
    width: 100%;
    bottom: 0;

    & p {
        color: $txt-light;
        text-align: center;
        padding: 45px 0;
        @include small-screen {
            font-size: 1rem;
            padding: 40px 0;
        }
        @include medium-screen {
            font-size: 1rem;
        }
        @include large-screen {
            font-size: 1rem;
        }
    }
}