// _footer.scss

.footer {
    background-color: $bg-color;
    width: 100%;
    height: 100px;
    bottom: 0;
    @include small-screen {
        height: 100px;
    }

    & p {
        color: $txt-light;
        text-align: center;
        line-height: 100px;
        @include small-screen {
            font-size: 0.7rem;
            line-height: 100px;
        }
        @include medium-screen {
            font-size: 1rem;
        }
        @include large-screen {
            font-size: 1rem;
        }
    }
}