// _footer.scss

.footer {
    background-color: $bg-color;
    width: 100%;
    bottom: 0;

    & p {
        color: $txt-light;
        text-align: center;
        font-size: 1rem;
        padding: 40px 0;
    }
}