// _header.scss

.header {
    width: 100%;
    margin-bottom: -50px;

    &__img {
        width: 100%;
        height: 100vh;
        border-bottom: 10px solid black;
        @include small-screen {
            width: 100%;
            border-bottom: 5px solid black;
        }
    }

    &__logo {
        display: block;
        position: relative;
        width: 15%;
        padding: 15px;
        background-color: white;
        border-radius: 50%;
        border: 5px solid black;
        bottom: 150px;
        left: 41.5%;
        @include small-screen {
            width: 30%;
            left: 32.5%;
            bottom: 100px;
        }
    }
}