// _header.scss

.header {
    margin-bottom: -50px;

    &__img {
        width: 100%;
        height: auto;
        border-bottom: 10px solid black;
        border-width: 3px;
        display: none;

        @include medium-screen {
            border-width: 5px;
            display: block;
        }

        @include large-screen {
            border-width: 5px;
            display: block;
        }
    }

    &__small {
        display: block;

        @include medium-screen {
            display: none;
        }
        
        @include large-screen {
            display: none;
        }
    }

    &__logo {
        display: block;
        position: relative;
        padding: 15px;
        background-color: white;
        border-radius: 50%;
        border: 2px solid black;
        width: 35%;
        left: 28.5%;
        bottom: 110px;
        border-width: 2px;

        @include medium-screen {
            width: 13%;
            border-width: 4px;
            bottom: 90px;
            left: 42%;
        }

        @include large-screen {
            width: 13%;
            border-width: 5px;
            bottom: 120px;
            left: 42.4%;
        }
    }
}