// _header.scss

.header {
    margin-bottom: -50px;

    &__img {
        width: 100%;
        height: auto;
        border-bottom: 10px solid black;
        @include small-screen {
            width: 100%;
            border-width: 3px;
        }
        @include medium-screen {
            border-width: 5px;
        }
    }

    &__logo {
        display: block;
        position: relative;
        width: 10%;
        padding: 15px;
        background-color: white;
        border-radius: 50%;
        border: 5px solid black;
        bottom: 200px;
        left: 43.9%;
        
        @include small-screen {
            width: 10%;
            left: 42.15%;
            bottom: 55px;
            border-width: 2px;
        }
        @include medium-screen {
            width: 10%;
            border-width: 5px;
            bottom: 80px;
            left: 43.2%;
        }
        @include large-screen {
            width: 10%;
            border-width: 5px;
            bottom: 110px;
            left: 43.8%;
        }
    }
}