// _nav.scss

.nav {
    position: fixed;
    width: 0;
    height: 100%;
    background-color: $bg-color;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 500ms;

    &__btn {
        position: absolute;
        top: 15px;
        left: 25px;
        font-size: 2rem;
        color: $txt-light;
        transition: color 500ms;
        &:hover {
            color: $txt-dark;
        }

        @include medium-screen {
            font-size: 3rem;
        }

        @include large-screen {
            font-size: 3rem;
        }
    }

    &__a {
        outline: none;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        transition: 300ms;
        font-size: 1rem;
        padding: 15px;
        color: $txt-light;
        text-align: center;
        transition: color 500ms;
        font-weight: 800;
        
        &:hover {
            color: $txt-dark;
        }
        
        @include medium-screen {
            font-size: 1.2rem;
            padding: 25px;
        }

        @include large-screen {
            font-size: 1.2rem;
            padding: 25px;
        }
    }

    &__i {
        font-size: 2.5rem;
        text-align: center;
        display: block;
        color: $txt-light;
        transition: color 500ms;
        padding: 15px;

        &:hover {
            color: $txt-dark;
        }

        @include medium-screen {
            font-size: 3rem;
            padding: 25px;
        }

        @include large-screen {
            font-size: 3rem;
            padding: 25px;
        }
        
    }
}

.nav-a {
    margin-top: 25px;

    @include medium-screen {
        margin-top: 50px;
    }

    @include large-screen {
        margin-top: 50px;
    }
}

.icon {
    position: absolute;
    margin: 15px 0 0 20px;
    cursor: pointer;
    transition: background-color 350ms;
    font-size: 2.5rem;
    color: $txt-light;
    transition: color 500ms;
    
    &:hover {
        color: $txt-dark;
    }

    @include medium-screen {
        font-size: 3rem;
        color: $bg-color;
    }

    @include large-screen {
        font-size: 3rem;
        color: $bg-color;
    }
}